<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Historias Clínicas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script>
      var id_img = 1;
        function agregarInputArchivo() {
            const contenedor = document.getElementById("contenedor-archivos");
            const nuevoInput = document.createElement("div");
            nuevoInput.classList.add("mb-3");
                id_img++;
            nuevoInput.innerHTML = `
     <input type="file" class="form-control" name="imagenes_${id_img}" accept="image/*" capture="environment">
            `;
            contenedor.appendChild(nuevoInput);
        }
    </script>
</head>
<body class="container mt-4">
    <h2 class="mb-4">Registro de Historias Clínicas</h2>
    <div>
      <a href="/lista"><h3>VER LISTA</h3></a>
    </div>
    <form action="/" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
            <label for="anio" class="form-label">Año:</label>
            <input type="number" class="form-control" id="anio" name="anio" required>
        </div>
        <div class="mb-3">
            <label for="codigo" class="form-label">Código:</label>
            <input type="text" class="form-control" id="codigo" name="codigo" required>
        </div>
        <div class="mb-3">
            <label for="dni" class="form-label">DNI (Opcional):</label>
            <input type="text" class="form-control" id="dni" name="dni">
        </div>

        <div id="contenedor-archivos">
            <div class="mb-3">
                <label class="form-label">Imagen de la Historia:</label>
                <input type="file" class="form-control" name="imagenes" accept="image/*" capture="environment" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Imagen de la Historia:</label>
                <input type="file" class="form-control" name="imagenes_a" accept="image/*" capture="environment">
            </div>
            <div class="mb-3">
                <label class="form-label">Imagen de la Historia:</label>
                <input type="file" class="form-control" name="imagenes_b" accept="image/*" capture="environment">
            </div>
            <div class="mb-3">
                <label class="form-label">Imagen de la Historia:</label>
                <input type="file" class="form-control" name="imagenes_c" accept="image/*" capture="environment">
            </div>
            <div class="mb-3">
                <label class="form-label">Imagen de la Historia:</label>
                <input type="file" class="form-control" name="imagenes_d" accept="image/*" capture="environment">
            </div>
            <div class="mb-3">
                <label class="form-label">Imagen de la Historia:</label>
                <input type="file" class="form-control" name="imagenes_e" accept="image/*" capture="environment">
            </div>
        </div>

        <button type="button" class="btn btn-secondary me-1" onclick="agregarInputArchivo()">Agregar otra imagen</button>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>


    <br>
    <br>
    <br>
    <br>
    <br>
    
</body>
</html>

